*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.main-container {
  max-width: 960px;
  margin: 0 auto; }
  .main-container header {
    padding: 10px 14px 2px 3px;
    height: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main-container header .company-name {
      display: inline-block; }
      .main-container header .company-name h2 {
        color: #003072;
        font-weight: bold;
        font-size: 36px;
        position: relative;
        display: inline-block; }
        .main-container header .company-name h2 span {
          text-align: center; }
    .main-container header button {
      justify-self: end;
      height: 39px;
      width: 151px;
      line-height: 38px;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      background: linear-gradient(to right, #ceb055, #997d13); }
      .main-container header button:hover {
        background: linear-gradient(to right, #997d13, #ceb055); }
    .main-container header ul {
      grid-column: 1/3;
      text-align: right; }
      .main-container header ul li {
        display: inline-block;
        margin-right: 5px;
        padding: 0 10px;
        font-size: 13px;
        border-right: 1px solid #003773; }
        .main-container header ul li:last-child {
          margin: 0; }
        .main-container header ul li a {
          color: #000000;
          text-decoration: none; }
  .main-container .banner {
    height: 250px;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 35px; }
    .main-container .banner .banner-content {
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 0);
      text-align: center;
      width: 640px; }
      .main-container .banner .banner-content p.text-18 {
        font-size: 18px;
        line-height: 26px; }
      .main-container .banner .banner-content p.text-18.m-b-5 {
        margin: 0 0 5px; }
      .main-container .banner .banner-content p.text-23 {
        font-size: 23px;
        line-height: 36px; }
      .main-container .banner .banner-content p.text-23.m-b-8 {
        margin: 0 0 8px; }
      .main-container .banner .banner-content p {
        color: #fff;
        font-size: 12px;
        line-height: 24px; }
  .main-container .banner.home-page {
    height: 557px; }
  .main-container .main-title {
    margin-bottom: 20px;
    position: relative; }
    .main-container .main-title h2 {
      color: #003773;
      font-size: 73px; }
    .main-container .main-title span {
      position: absolute;
      bottom: -8px;
      font-size: 12px;
      left: 50%;
      transform: translate(-50%, 0); }
  .main-container .middle-content .p-headings {
    text-align: center; }
    .main-container .middle-content .p-headings p {
      font-size: 18px;
      color: #000; }
  .main-container .middle-content .detail-text {
    margin-bottom: 20px; }
    .main-container .middle-content .detail-text p {
      text-align: center;
      font-size: 13px;
      line-height: 22px; }
  .main-container .middle-content .border-box-heading {
    background-color: #fff;
    border: 1px solid #005698;
    text-align: center;
    width: 750px;
    height: 54px;
    margin: auto;
    margin-bottom: 30px; }
    .main-container .middle-content .border-box-heading p {
      padding: 0 10px;
      line-height: 54px;
      color: #005698; }
  .main-container .middle-content .b-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: center; }
    .main-container .middle-content .b-section .main-title {
      display: inline-block; }
    .main-container .middle-content .b-section p.have-span {
      grid-column: 1 / 3;
      margin: 0 0 18px; }
    .main-container .middle-content .b-section p {
      font-size: 20px; }
      .main-container .middle-content .b-section p span {
        font-size: 10px; }
    .main-container .middle-content .b-section .box-section {
      background: #f5e8d5;
      padding: 15px;
      grid-column: 1 / 3;
      width: 592px;
      margin: 0 auto 35px; }
      .main-container .middle-content .b-section .box-section .border-box-heading {
        width: 370px; }
        .main-container .middle-content .b-section .box-section .border-box-heading p {
          font-size: 14px; }
  .main-container .middle-content .boxes-detail {
    max-width: 592px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto 30px; }
    .main-container .middle-content .boxes-detail .single-box {
      padding: 0 0 15px;
      background: #f5e8d5;
      box-shadow: 4px 4px 4px #c0c0be;
      border-radius: 10px; }
      .main-container .middle-content .boxes-detail .single-box h2, .main-container .middle-content .boxes-detail .single-box p {
        text-align: center; }
      .main-container .middle-content .boxes-detail .single-box h2 {
        font-size: 17px;
        background: #004f83;
        color: #fff;
        padding: 10px 10px;
        margin: 0 0 10px;
        border-radius: 10px;
        height: 60px;
        display: grid;
        align-items: center;
        font-weight: normal;
        box-shadow: 4px 4px 4px #c0c0be; }
      .main-container .middle-content .boxes-detail .single-box p {
        font-size: 13px;
        padding: 5px 12px; }
  .main-container .bottom-box {
    background: linear-gradient(to right, #ddc16b, #997d13);
    padding: 12px;
    width: 466px;
    margin: 0 auto 25px; }
    .main-container .bottom-box .box-content {
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-gap: 12px 7px;
      align-items: center;
      padding: 15px;
      border: 1px solid #fff; }
      .main-container .bottom-box .box-content .doc-button {
        grid-row: 1 / 3;
        justify-self: end;
        grid-column: 2;
        cursor: pointer;
        text-align: center; }
        .main-container .bottom-box .box-content .doc-button button {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          margin: 0 0 8px;
          color: #fff;
          display: block;
          font-size: 14px; }
      .main-container .bottom-box .box-content p {
        font-size: 14px;
        color: #fff; }
      .main-container .bottom-box .box-content p.prominent-text {
        font-size: 18px; }
  .main-container footer {
    max-width: 466px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 120px 1fr;
    align-items: center;
    grid-gap: 24px;
    margin: 0 auto 35px; }
    .main-container footer p.have-bordered {
      text-align: center;
      font-size: 12px;
      padding: 5px;
      border: 1px solid #000; }
    .main-container footer .contact-no span {
      font-size: 12px; }
    .main-container footer .contact-no p {
      font-size: 26px;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
