*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.main-container {
    max-width: 100%;
    margin: 0 auto;
    
    span.have-number {
        position: absolute;
        left: -15px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #003773;
        color: #fff;
        font-size: 10px;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        font-weight: normal;
    }

    header {
        padding: 10px 14px 2px 3px;
        height: 105px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 43px;

        .company-name {
            .name {
                position: relative;
                display: inline-block;
                h2 {
                    color: #003072;
                    font-weight: bold;
                    font-size: 36px;
                    position: relative;
                    display: inline-block;
                }
                span {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                    bottom: -20px;
                }
            }
        }

        button {
            justify-self: end;
            height: 39px;
            width: 151px;
            line-height: 38px;
            border: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            background: linear-gradient(to right, #ceb055, #997d13);
            &:hover {
                background: linear-gradient(to right, #997d13, #ceb055);
            }
        }

        ul {
            grid-column: 1/3;
            text-align: right;
            li {
                display: inline-block;
                padding: 0 13px 0 10px;
                font-size: 13px;
                border-right: 1px solid #006ec9;
                min-width: 70px;
                text-align: center;

                a {
                    color: #000000;
                    line-height: 43px;
                    text-decoration: none;
                    display: block;
                    font-weight: bold;
                    &:hover {
                        color: #006ec9;
                    }
                }
            }
        }
    }

    .banner {
        height: 250px;
        background: url(../images/banner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 48px;
        .banner-content {
            position: absolute;
            left: 50%;
            top: 50px;
            transform: translate(-50%,0);
            text-align: center;
            width: 640px;
            p.text-18, p.text-23 {
                font-weight: bold;
            }
            p.text-18 {
                font-size: 18px;
                line-height: 26px;
            }
            p.text-18.m-b-5 {
                margin: 0 0 5px;
            }
            p.text-23 {
                font-size: 23px;
                line-height: 36px;
            }
            p.text-23.m-b-8 {
                margin: 0 0 8px;
            }
            p {
                color: #fff;
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
    .banner.home-page {
        height: 557px;
        margin: 0 0 35px;
    }
    
    .main-title {
        margin-bottom: 20px;
        position: relative;
        h2 {
            color: #003773;
            font-size: 73px !important;
            font-weight: bold !important;
        }
        h2.text-37 {
            font-size: 37px !important;
        }
        span {
            position: absolute;
            bottom: -14px;
            font-size: 12px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .middle-content.first-page-width {
        max-width: 750px;
    }
    .middle-content.third-page-width {
        max-width: 666px;
    }
    .middle-content {
        margin: 0 auto 100px;
        .p-headings {
            text-align: center;
            p {
                font-weight: 500;
                font-size: 18px;
                color: #000;
            }
            h2 {
                font-size: 30px;
                color: #003773;
                font-weight: 500;
                margin: 0 0 48px;
            }
        }
        .arrow-down {
            margin: 0 0 30px;
            text-align: center;
        }
        .img-section {
            display: grid;
            grid-template-columns: 1.8fr 1.2fr 1.8fr 1.2fr;
            grid-gap: 22px;
            grid-template-rows: 20px 275px;
            margin: 0 0 30px;
            img {
                width: 100%;
            }
            .first-child {
                grid-row: 2;
            }
            .second-child {
                grid-column: 2;
            }
            .third-child {
                grid-column: 3;
                grid-row: 2;
            }
            .fourth-child {
                grid-column: 4;
            }
        }
        .detail-text {
            margin-bottom: 25px;
            p {
                text-align: center;
                font-size: 13px;
                line-height: 22px;
            }
        }
        .border-box-heading {
            background-color: #fff;
            border: 1px solid #005698;
            text-align: center;
            height: 54px;
            margin: auto;
            margin-bottom: 30px;

            p {
                padding: 0 10px;
                line-height: 54px;
                color: #005698;
            }
        }
        .b-section {
            display: grid;
            grid-template-columns: 1.4fr 1fr;
            align-items: center;
            text-align: center;
            .main-title {
                display: inline-block;
            }
            p.have-span {
                grid-column: 1 / 3;
                margin: 0 0 18px;
            }
            p {
                font-size: 20px;
                span {
                    font-size: 10px;
                }
            }
            .box-section {
                background: #f5e8d5;
                padding: 15px;
                grid-column: 1 / 3;
                width: 592px;
                margin: 0 auto 35px;
                .border-box-heading {
                    width: 370px;
                    height: 35px;
                    p {
                        line-height: 35px;
                        font-size: 14px;
                    }
                }
                .box-section-content {
                    display: grid;
                    grid-template-columns: 2.2fr 2.5fr;
                    grid-gap: 20px;
                    h2 {
                        font-size: 18px;
                        display: grid;
                    }
                    h2 {
                        span.text-15 {
                            font-size: 15px;
                        }
                    }
                    h2 {
                        span.text-20 {
                            font-size: 20px;
                        }
                    }
                    h2.red-color {
                        color: #C30E23;
                    }
                    .building-grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 10px;
                        align-items: center;
                        margin-top: 25px;
                    }
                    .img-building {
                        display: grid;
                        justify-content: center;
                        grid-gap: 5px;
                        span {
                            font-size: 11px;
                        }
                    }
                    ul {
                        align-self: center;
                        li {
                            text-align: left;
                            list-style: none;
                            font-size: 12px;
                            margin: 0 0 5px;
                            &:last-child {
                                margin: 0;
                            }
                            i.fa {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .boxes-detail {
            max-width: 592px;
            display: grid;
            grid-template-columns: 275px 275px;
            grid-gap: 40px;
            margin: 0 auto;
            justify-content: center;
            .single-box {
                padding: 0 0 3px;
                background: #f5e8d5;
                box-shadow: 4px 4px 4px #c0c0be;
                border-radius: 10px;
                h2, p {
                    text-align: center;
                }
                h2 {
                    grid-gap: 6px;
                    line-height: 16px;
                    font-size: 17px;
                    // background: #004f83;
                    background: linear-gradient(to left, #002b50, #0096fa 45%, #0096fa 50%, #002b50 100%);
                    color: #fff;
                    padding: 10px 10px;
                    border-radius: 10px;
                    height: 60px;
                    display: grid;
                    align-items: center;
                    font-weight: normal;
                    box-shadow: 4px 4px 4px #c0c0be;
                    
                }
                p {
                    height: 50px;
                    line-height: 16px;
                    font-size: 12px;
                    padding: 5px;
                    display: grid;
                }
                h2, p {
                    span.at-end {
                        align-self: end;
                    }
                    span.at-start {
                        align-self: start;
                    }
                    span.at-center {
                        align-self: center;
                    }
                }
            }
        }
        div.q-a-section {
            text-align: left;
            margin: 0 0 20px;
            h3 {
                font-size: 14px;
                margin: 0 0 6px;
                color: #003773;
                span {
                    margin-right: 5px;
                    font-size: 19px;
                }
                span.colored {
                    color: #003773;
                } 
            }
            p {
                font-size: 12px;
            }
        }
        div.q-a-section.have-border {
            padding: 25px 0;
            border-top: 1px solid #000;
            margin: 0;
            h3 {
                font-size: 18px;
                span {
                    font-size: 13px;
                }
            }
        }
        div.q-a-section.have-border.bottom-border {
            border-bottom: 1px solid #000;
        }
        ul.q-a-section {
            margin: 0 0 15px;
            padding-left: 12px;
            li {
                list-style: none;
                margin: 0 0 6px;
                text-align: left;
                &:last-child {
                    margin: 0;
                }
                h3 {
                    font-size: 13px;
                    margin: 0 0 6px;
                    color: #003773;
                    position: relative;
                }
                P {
                    font-size: 11px;
                }
            }
        }
        .table-section {
            margin: 0 0 48px;
            text-align: left;
            h3 {
                color: #003773;
                font-size: 13px;
                margin: 0 0 6px;
                span {
                    color: #000000;
                    font-size: 12px;
                }
            }
            table {
                border-collapse: collapse;
                border: 1px solid #000000;
                td, th {
                    padding: 5px;
                    font-size: 10px;
                    border: 1px solid #000000;
                }
            }
        }
    }

    .bottom-box {
        // background: linear-gradient(to right, #ddc16b, #997d13);
        background-image: linear-gradient(to right, #ddc16b, #997d13 400px, #997d13 800px);
        padding: 12px;
        width: 466px;
        margin: 0 auto 25px;
        .box-content {
            display: grid;
            grid-template-columns: 9fr 1fr;
            grid-gap: 0 7px;
            align-items: center;
            padding: 6px;
            border: 1px solid #fff;
            .doc-button {
                grid-row: 1 / 3;
                justify-self: end;
                grid-column: 2;
                cursor: pointer;
                text-align: center;
                button {
                    background: none;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin: 0 0 8px;
                    color: #fff;
                    display: block;
                    font-size: 14px;
                }
            }
            p {
                font-size: 15px;
                color: #fff;
            }
            p.prominent-text {
                font-size: 21px;
            }
        }
    }

    footer {
        max-width: 466px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100px 120px 1fr;
        align-items: center;
        grid-gap: 24px;
        margin: 0 auto 35px;

        p.have-bordered {
            text-align: center;
            font-size: 12px;
            padding: 5px;
            border: 1px solid #000;
        }
        
        .contact-no {
            span {
                font-size: 12px;
            }
            p {
                font-size: 26px;
                font-weight: bold;
            }
        }
    }
}